@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: #1b5e7a;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}
.current-city-weather {
  font-weight: 600;
}

#current-city {
  text-transform: capitalize;
}

#current-description:first-letter {
  text-transform: capitalize;
}

.row {
  margin-top: 15px;
}

.card-body {
  padding: 0;
}

.card-img-top {
  width: 30%;
}

img {
  display: block;
  margin: auto;
}

#current-icon {
  margin-top: 30px;
}

input {
  display: inline-block;
  margin: 10px 0;
  color: #1b5e7a;
}

button {
  display: block;
  color: #1b5e7a;
  margin: 20px auto;
  border: 1px solid grey;
}

.current-unit {
  color: #1b5e7a;
  cursor: default;
}

.current-unit:hover {
  text-decoration: none;
}
